<%- include('../partials/admin_header.ejs') %>
    <div class="d-flex">
        <div class="px-3 text-white" style="background-color: rgba(0, 0, 0, 0.776);">
            <div class="list-group px-2 py-4  text-white text-nowrap" style="height:560px;">
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/admin/adminHome">Dashboard</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/admin/adminHome/status"">Status</a>
                    <a class=" list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="#">Theaters</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Events</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="#!">Advertisement</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Ticket
                    details</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Profile</a>
            </div>
        </div>
        <div class="w-100 h-100 sticky-top" style="color: rgba(45, 42, 42, 0.793);">
            <div class="h4 py-3 text-center text-white" style="background-color:rgb(9, 20, 9);">Admin Dashboard
            </div>
            <div class="status p-5" style="overflow-y: scroll;overflow-x: hidden; height: 500px;">

                <canvas id="myChart"></canvas>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
        integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        canvas {
            display: block;
            box-sizing: border-box;
            height: 426px !important;
            width: 1021px !important;
        }
    </style>
    <script>
        const ctx = document.getElementById('myChart');
        var xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
        var yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: yValues
                }]
            },
            options: {

            }
        });

    </script>