<%- include('../partials/admin_header.ejs') %>
    <div class="d-flex">
        <div class="px-3 text-white" style="background-color: rgba(0, 0, 0, 0.776);">
            <div class="list-group px-2 py-4  text-white text-nowrap" style="height:560px;">
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/admin/adminHome">Dashboard</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/admin/adminHome/status"">Status</a>
                    <a class=" list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="#">Theaters</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Events</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="#!">Advertisement</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Ticket
                    details</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Profile</a>
            </div>
        </div>
        <div class="w-100 h-100 sticky-top" style="color: rgba(45, 42, 42, 0.793);">
            <div class="h4 py-3 text-center text-white" style="background-color:rgb(9, 20, 9);">Admin Dashboard
            </div>
            <div class="status p-5" style="overflow-y: scroll;overflow-x: hidden; height: 500px;">



                <!-- Page content wrapper-->

                <!-- Page content-->
                <div class="container-fluid">
                    <h2>Admin</h2>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>