<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light sleep" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/admin/">
            <h3>Admin Panel</h3>
        </a>
        <div class="input-group mx-5" style="width: 26rem;">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li><a href="/admin/auth/logout" class=" mx-3 px-3 text-white btn btn-danger">logout</a></li>
                <li class="nav-item active">
                    <a href="index.html" class="nav-link">
                        <i class="fa fa-bars" style="font-size: 1.5rem;"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<style>
    body {
        overflow: hidden !important;
    }

    body::-webkit-scrollbar {
        display: none;
    }
</style>