<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light sleep" id="ftco-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="img/svgexport-36.svg" alt="make my show" style="height:2.1rem"></a>
        <div class="input-group mx-5" style="width: 26rem;">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">


                <% if(!user) {%>
                    <li><a href="/login" class=" mx-3 px-3 text-white btn btn-danger">login</a></li>
                    <% }else{ %>
                        <div class="chip text-nowrap">
                            <img src="<%=user.image%>" class="rounded-circle " style="width:40px" alt="img">
                            <span><a class="chip-user-name" href="/stories/user/<%=user._id%>">
                                    <%=user.firstName%>
                                </a></span>
                        </div>
                        <li><a href="/auth/logout" class=" mx-3 px-3 text-white btn btn-danger">logout</a></li>
                        <% } %>
                            <li>
                                <div class="dropdown me-5" style="margin-right:20px ;z-index: 10000;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        City
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/home/city/Kochi">Kochi</a>
                                        <a class="dropdown-item" href="/home/city/NCR">NCR</a>
                                        <a class="dropdown-item" href="/home/city/Bengalure">Bengalure</a>
                                        <a class="dropdown-item" href="/home/city/Hyderabad">Hyderabad</a>
                                        <a class="dropdown-item" href="/home/city/Chadigarh">Chadigarh</a>
                                        <a class="dropdown-item" href="/home/city/Chennai">Chennai</a>
                                        <a class="dropdown-item" href="/home/city/Pune">Pune</a>
                                        <a class="dropdown-item" href="/home/city/Kolkata">Kolkata</a>
                                        <a class="dropdown-item" href="/home/city/Mumbai">Mumbai</a>
                                    </div>

                            </li>
                            <li class="nav-item active">
                                <a href="index.html" class="nav-link">
                                    <i class="fa fa-bars" style="font-size: 1.5rem;"></i>
                                </a>
                            </li>

            </ul>
        </div>
    </div>
</nav>