<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light sleep" id="ftco-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/theatre/">
            <h3>Theater Panel</h3>
        </a>
        <div class="input-group mx-5" style="width: 26rem;">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>


        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <% if(locals.admin) {%>

                    <div class="chip text-nowrap">
                        <img src="<%=admin.image%>" class="rounded-circle " style="width:40px" alt="img">
                        <span><a class="chip-user-name" href="/stories/user/<%=admin._id%>">
                                <%=admin.displayName%>
                            </a></span>
                    </div>
                    <li><a href="/auth/logout" class=" mx-3 px-3 text-white btn btn-danger">logout</a></li>
                    <% } else{%>
                        <li><a href="/auth/logout" class=" mx-3 px-3 text-white btn btn-danger">logout</a></li>

                        <% } %>




                            <li class="nav-item active">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-bars" style="font-size: 1.5rem;"></i>
                                </a>
                            </li>

            </ul>
        </div>
    </div>
</nav>
<style>
    body {
        overflow: hidden !important;
    }

    body::-webkit-scrollbar {
        display: none;
    }
</style>