<%- include('../../partials/theater_header.ejs') %>
    <link rel="stylesheet" href="/css/theatre/forms.css">

    <div class="container" style="overflow-y: scroll;overflow-x: hidden; height: 500px;">
        <div class="col-md-offset-1 col-md-12">
            <div class="form-container">
                <% if(locals.message){ %>
                    <h5 class="alter alert-danger text-capitalize text-center rounded-3 p-3">
                        <%= message %>
                    </h5>
                    <% } %>
                        <h3 class="title">Add Theatre Screen</h3>

                        <form class="form-horizontal" id="form" action="/theatre/theatre/hall/<%- id %> " method="POST">
                            <div class="form-group">
                                <label>Screen Name</label>
                                <input required name="screenName" type="text" class="form-control"
                                    placeholder="Enter Screen Name">
                            </div>

                            <div class="form-group">
                                <label>Screen Id</label>
                                <input required name="screenId" type="text" class="form-control"
                                    placeholder="Screen Id">
                            </div>

                            <div class="form-group">
                                <label>Enter total seats columns</label>
                                <input type="number" name="seats_col_num" id="seats_col_num" value="0"
                                    class="form-control">

                            </div>



                            <div id="seat_arr_id" class="row">


                            </div>
                            <input type="hidden" name="theatre_id" value='<%-id%>' />


                            <button class="btn btn-danger" type="submit">Add Theatre Screen</button>

                        </form>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/theatre_helper/index.js"></script>
    <script>
        const input_field = document.getElementById('input-field').value
        const num = parseInt(input_field)
    </script>