* {
    padding: 0;
    margin: 0;
}


/* user login form styling */
.num-form {
    position: relative;
    cursor: none
}

.num-form input {
    padding-left: 65px;
}

.indian-flag {
    position: absolute;
    left: -90%;
    top: 44px;
}

@-moz-document url-prefix() {
    .num-form {
        position: relative;
        cursor: none
    }

    .indian-flag {
        position: absolute;
        left: -28%;
        top: 44px;
    }
}


/* header */
.chip-user-name {
    font-size: .9rem;
    color: white;
    padding-left: 5px;
}