<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form class="needs-validation" novalidate action="/theatre/auth/phone" method="post">
                        <h3 class="mb-5">Get started</h3>

                        <div class="form-group num-form mx-4 d-inline ">
                            <span class="indian-flag"><img alt="ind"
                                    src="//in.bmscdn.com/webin/common/icons/indianflag.svg"> +91</span>

                            <label class="form-label" for="phone">Continue with mobile
                                number</label>
                            <input required name="phone" id="phone" type="text"
                                placeholder="continue with mobile number" class="form-control form-control-lg"
                                style="padding-left:62px;" min="10" max="10">

                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                            <div class="invalid-tooltip">
                                Enter proper phone number
                            </div>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Continue</button>

                        <hr class="my-4">


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();



</script>

<style>
    .invalid-tooltip,
    .valid-tooltip {
        position: relative;
    }

    h4 {
        margin: 2rem 0rem 1rem;
    }

    .form-group {
        position: relative;
    }
</style>

<style>
    .invalid-tooltip,
    .valid-tooltip {
        top: -2px;
        right: 0;
        left: auto;
    }
</style>