<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form action="/theatre/auth/phone" method="post">
                        <h3 class="mb-5">Get started</h3>

                        <div class="form-outline num-form  mx-4 d-inline ">
                            <span class="indian-flag" style="position: absolute;top: 175px;left: 54px;"><img alt="ind"
                                    src="//in.bmscdn.com/webin/common/icons/indianflag.svg"> +91</span>

                            <label class="form-label" for="phone">Continue with mobile
                                number</label>
                            <input required name="phone" id="phone" type="text"
                                placeholder="continue with mobile number" class="form-control form-control-lg" value=""
                                style="padding-left:62px;">
                        </div>

                        <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Continue</button>

                        <hr class="my-4">


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>