<%- include('../partials/theater_header.ejs') %>
    <% if(locals.status=="Pending" ){ %>
        <h2>theater owner Status is pending</h2>
        <%} else{%>
            <h2>Welcom Theater owner</h2>
            <% } %>