<%- include('../partials/theater_header.ejs',{admin}) %>
    <div class="container-fluid w-100">


    </div>
    <div class="d-flex">
        <div class="px-3 text-white" style="background-color: rgba(0, 0, 0, 0.776);">
            <div class="list-group px-2 py-4  text-white text-nowrap" style="height:560px;">
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/home">Dashboard</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/theatre/home">Theaters</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/theatre/movies/<%-data._id%> ">Movies</a>


                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/shows/home">
                    Shows</a>

                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="/theatre/shows/ticket">Ticket</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/edit/profile/<%-data._id %> ">Profile</a>
            </div>
        </div>
        <div class="w-100 h-100 sticky-top" style="color: rgba(45, 42, 42, 0.793);">
            <div class="h4 py-3 text-center text-white" style="background-color:rgb(9, 20, 9);">Dashboard</div>
            <div class="status p-5" style="overflow-y: scroll;overflow-x: hidden; height: 500px;">

                <canvas id="myChart"></canvas>
                <div id="myPlot" style="width:100%;max-width:1221px"></div>
                

            </div>

        </div>

    </div>

    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
        integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        canvas {
            display: block;
            box-sizing: border-box;
            height: 426px !important;
            width: 1021px !important;
            margin-bottom: 10%;
        }
        
    </style>
    <script>
        let array = `<%- sell.map(e=>e.total)%>`
        let m = array.split('"').toString().split(",");
        let mm = m.map(e=> parseInt(e))
 
        var xArray = mm;
        var yArray = [1, 2, 3, 4, 5, 6, 7,8,9];

        // Define Data
        var data = [{
            x: xArray,
            y: yArray,
            mode: "lines"
        }];

        // Define Layout
        var layout = {
            xaxis: { range: [1], title: "Square Meters" },
            yaxis: { range: [1], title: "Price" },
            title: "buying"
        };

        // Display using Plotly
        Plotly.newPlot("myPlot", data, layout);
  

        const ctx = document.getElementById('myChart');
        var xValues = mm;
        var yValues = mm;

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: yValues
                }]
            },
             options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Sells'
                    }
                }
            }
        });

    </script>