<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <% if(locals.message){ %>
                    <h5 class="alter alert-danger text-capitalize text-center rounded-3 p-3">
                        <%= message %>
                    </h5>
                    <% } %>
                        <h2 class="header text-center">Theatre Owner Log In</h2>
                        <form class="needs-validation" novalidate action="/theatre " method="POST">

                            <!-- Email input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="email">Email address</label>
                                <input name="email" type="email" id="email" class="form-control form-control-lg"
                                    required />
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Enter proper email
                                </div>

                            </div>

                            <!-- Password input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input name="password" type="password" id="password"
                                    class="form-control form-control-lg" required minlength="4" />
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Enter minimum 4 letters password
                                </div>
                            </div>



                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

                            <div class="divider d-flex align-items-center my-3">
                                <p class="text-center fw-bold mx-3  text-muted">OR</p>
                            </div>


                            <a href="/theatre/auth/phone" class="btn btn-lg btn-block btn-primary mt-5"
                                style="background-color: #dd4b39;" type="submit"><i class="fa fa-phone me2"
                                    aria-hidden="true"></i> Sign in
                                with phone number</i></a>

                            <div class="mt-2">
                                <span class="signin-link">Dosn't have an account? Click here to <a
                                        href="/theatre/reg">Create</a></span>
                            </div>

                        </form>
            </div>
        </div>
    </div>
</section>


<script>    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();



</script>

<style>
    .invalid-tooltip,
    .valid-tooltip {
        top: -2px;
        right: 0;
        left: auto;
    }

    h4 {
        margin: 2rem 0rem 1rem;
    }

    .form-group {
        position: relative;
    }
</style>