<link rel="stylesheet" href="/css/user/runningmovie.css">
<div>
    <%- include('../partials/header.ejs', {user}) %>
</div>
<div>
    <%- include('./partials/runningMovies.ejs') %>
        <%- include('./partials/movie.ejs') %>

</div>