<link rel="stylesheet" href="/css/user/runningmovie.css">

<%- include('../partials/header.ejs', {user}) %>

    <div>
        <%- include('./partials/runningMovies.ejs') %>


    </div>



    <%- include('./partials/footer.ejs') %>