<link rel="stylesheet" href="/css/user/runningmovie.css">
<div class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="h2">Book A Movie</div>
        <div class="h6 info"><a href="http://">View all</a> <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row">

        <div class="carousel home-movies-sld mb-3 w-100 flickity-enabled is-draggable"
            data-flickity="{ &quot;pageDots&quot;: false, &quot;imagesLoaded&quot;: true, &quot;prevNextButtons&quot;: true, &quot;cellAlign&quot;: &quot;left&quot;, &quot;contain&quot;: true, &quot;wrapAround&quot;: true }"
            tabindex="0">

            <div class="flickity-viewport" style="height: 376.078px; touch-action: pan-y;">
                <div class="flickity-slider" style="left: 0px; transform: translateX(-333.31%);">
                    <div class="col-6 col-sm-4 col-xl-2 p-3 post" style="position: absolute; left: 366.64%;"
                        aria-hidden="true">

                        <div class="position-relative d-block">

                            <img width="250" height="375"
                                src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy"
                                srcset="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg 250w, https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-200x300.jpg 200w, https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-682x1024.jpg 682w, https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-768x1153.jpg 768w, https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-600x900.jpg 600w, https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland.jpg 1022w"
                                sizes="(max-width: 250px) 100vw, 250px">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink"></a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col-6 col-sm-4 col-xl-2 p-3 post" style="position: absolute; left: 383.31%;"
                        aria-hidden="true">

                        <div class="position-relative d-block">

                            <img width="250" height="375"
                                src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/BladeRunner2049-250x375.jpg"
                                class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy"
                                srcset="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/BladeRunner2049-250x375.jpg 250w, https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/BladeRunner2049-600x900.jpg 600w"
                                sizes="(max-width: 250px) 100vw, 250px">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/blade-runner-2049/"
                                class="imageoutlink"></a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/blade-runner-2049/">Blade
                                    Runner 2049</a></h6>
                            <small>2017</small>
                        </div>

                    </div>

                    <div class="col-6 col-sm-4 col-xl-2 p-3 post" aria-hidden="true"
                        style="position: absolute; left: 349.98%;">

                        <div class="position-relative d-block">

                            <img width="250" height="375"
                                src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/Mother-250x375.jpg"
                                class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy"
                                srcset="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/Mother-250x375.jpg 250w, https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/Mother-600x900.jpg 600w"
                                sizes="(max-width: 250px) 100vw, 250px">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/mother/"
                                class="imageoutlink"></a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/mother/">Mother!</a></h6>
                            <small>2017</small>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
</div>