<section class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center mx-4">
        <div class="h2 ">Book A Movie</div>
        <div class="h6 info"><a href="/home/allmovies">
                View all</a> <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
    </div>
    <!--Carousel Wrapper-->
    <div id="multi-itemss" class="carousel slide carousel-multi-itemss mx-3 " data-interval="false">

        <!--Controls-->
        <div class="controls-top">
            <a class="btn-floating" id="prev-btn" href="#multi-itemss" data-slide="prev"><i
                    class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-itemss" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->

        <!--Slides-->
        <div class="carousel-inner pt-3 px-2"" role=" listbox">

            <!--First slide-->
            <!-- <div class="carousel-item active"> -->
            <!--First slide-->
            <% var i=0; %>

                <!-- <div class="row row-cols-5 "> -->
                <!-- looping data -->
                <% data.forEach((item,inx)=>{i++%>
                    <% if(inx==0||inx%5==0){ %>
                        <div class="<%= i === 1 ? " carousel-item active":"carousel-item" %>">
                            <div class="row row-cols-5 ">
                                <% } %>

                                    <div class="col clearfix">
                                        <div class=" card-img-top">
                                            <a href="/home/movie/<%- item.movies[0]._id %>" class="imageoutlink">
                                                <img style="border-radius:.9rem .9rem 0 0;height: 19rem ; object-fit: cover;"
                                                    src="https://abhijithv.xyz/uploads/<%-item.movies[0].images[0].image_url%> "
                                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" />
                                            </a>

                                        </div>
                                        <div class="text-center"
                                            style="width:100%;height: 1.6rem;border-radius: 0 0 .9rem  .9rem  ; background-color: #212529;; ">
                                            <i class="fa fa-star" style="color: rgba(241, 237, 237, 0.974); "
                                                aria-hidden="true"></i>
                                        </div>

                                        <div class="h5 mt-2  text-center" style="color:#333 ;">

                                            <span style="color: #333;">
                                                <%-item.movies[0].movieName%>
                                            </span>

                                        </div>

                                    </div>
                                    <% if(i%5==0){ %>
                            </div>

                        </div>
                        <% } %>

                            <!-- loop end -->
                            <% }) %>
        </div>
    </div>
</section>

<script>
    // function movie(id){
    //      $.ajax("/home/movie/", {
    //         type: 'POST',
    //         data: {
    //             id: id
    //         }
    //     }).done((res) => {
    //         var newDoc = document.open("text/html", "replace");
    //         newDoc.write(res);
    //         newDoc.close();

    //     })
    // }

</script>