<link rel="stylesheet" href="/css/user/runningmovie.css">
<div class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="h2">Book A Movie</div>
        <div class="h6 info"><a href="http://">View all</a> <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
    </div>


    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item mx-3" data-interval="false">

        <!--Controls-->
        <div class="controls-top">
            <a class="btn-floating" id="prev-btn" href="#multi-item-example" data-slide="prev"><i
                    class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->

        <!--Indicators-->
        <!-- <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
            <li data-target="#multi-item-example" data-slide-to="3"></li>

        </ol> -->
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">


                <div class="row">
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>

                </div>

            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">

                <div class="row">
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>
                    <div class="col clearfix">
                        <div class="card-img-top">
                            <a href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/"
                                class="imageoutlink">
                                <img src="https://demo.ramsthemes.com/projects/ingmarwp/wp-content/uploads/2019/10/lalaland-250x375.jpg"
                                    class="img-fluid shadow-sm wp-post-image" alt="" loading="lazy" </a>

                        </div>

                        <div class="p-2 my-md-2">
                            <h6 class="title-500"><a
                                    href="https://demo.ramsthemes.com/projects/ingmarwp/movies/la-la-land/">La La
                                    Land</a></h6>
                            <small>2016</small>
                        </div>

                    </div>

                </div>

            </div>
            <!--/.Second slide-->

        </div>
        <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->
</div>