body {
    background-color: #f5f5f5;
    overflow-x: hidden;
    -ms-overflow-style: none !important;
    /* Internet Explorer 10+ */
    scrollbar-width: none !important;
    /* Firefox */
}

::-webkit-scrollbar {
    width: 0 !important;
    /* Remove scrollbar space */
    background: transparent !important;
    /* Optional: just make scrollbar invisible */
}

img {
    width: 100%;
    height: auto;
}

.info a {
    color: rgb(222, 42, 42);
}

.clearfix:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;


}


.card-img-top {
    width: 100%;
    height: auto;
    object-position: center;
}

body::-webkit-scrollbar {
    display: none !important;
}

.fa-chevron-right:before {
    border-radius: 50%;
    content: "\f054";
    color: rgba(0, 0, 0, 0.678);
    position: absolute;
    z-index: 88;
    font-size: 2rem;
    background: #ffffffb5;
    right: 0;
    top: 42%;
    padding: 7px 13px;
}

.fa-chevron-left:before {
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.678);
    position: absolute;
    z-index: 88;
    font-size: 2rem;
    background: #ffffffb5;
    left: 0;
    top: 42%;
    padding: 7px 13px;
}

.top_bottom_line {
    height: 1.6rem;
    border-radius: 0 0 .9rem .9rem;
    width: 100%;
}

img {
    border-radius: .9rem .9rem 0 0
}

@media only screen and (max-width: 768px) {

    .card_body_top {
        display: -ms-flexbox !important;
        /* display: flex !important; */
        -ms-flex-wrap: wrap !important;
        flex-wrap: nowrap !important;
        margin-right: -42px !important;
        margin-left: -33px !important;
    }

    .carousel-inner {
        display: flex !important;
    }

    .row-cols-5 {
        display: flex !important;

    }

    .movie_top_title {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
        position: relative;
        left: 27px;
    }

    img {
        border-radius: .3rem .3rem 0 0;
    }

    .card-img-top {
        width: 100px;

    }

    .top_bottom_line {
        height: 1rem;
        width: 100px !important;
        border-radius: 0 0 .3rem .3rem;
    }

    .fa-star {
        font-size: 10px;
        position: relative;
        top: -6.5px;
    }


    .fa-chevron-left,
    .fa-chevron-right {
        display: none !important;
    }

    body {
        width: 100 !important;
        margin: 0;
        padding: 0;

    }

    .p-4 {
        padding: 0px !important;
    }

    .card_body_top {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
    }

    .book_movie_title {
        font-size: 18px !important;
    }

    .book_movie_info {
        font-size: 10px !important;
    }

    .book_movie_text_top {
        padding-top: 10px;
    }

    .clearfix:hover {
        transform: scale(1.01);
        transition-duration: 0.7s;
    }

    .clearfix {
        zoom: 1;
        margin: 0 13px;
    }

    .ad-my {
        padding: 0px !important;
        margin: 10px 0 !important
    }

    .carousel-indicators {
        width: 50px;
    }

    .mx-5 {
        margin: 0 12px !important;
    }

    .carousel-indicators {
        bottom: -17px !important;
        left: 100px !important;
    }

    .fMIHoZ {
        visibility: hidden !important;
        margin: 15px 0 !important;
    }
}