<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <span class="display-3 d-block">Oops</span>
                <div class="mb-4 lead">Server Error</div>
                <a href="/" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>