<section class="my-4">
    <div id="adCarouser" class="carousel slide mx-5" data-ride="carousel" data-interval="4000">
        <ol class="carousel-indicators">
            <li data-target="#adCarouser" data-slide-to="0" class="active"></li>
            <li data-target="#adCarouser" data-slide-to="1"></li>
            <li data-target="#adCarouser" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img id="js-promotion-banner"
                    src="https://assets-in.bmscdn.com/promotions/cms/creatives/1653978566411_restaurantweb.jpg" alt="">
            </div>

            <div class="carousel-item ">
                <img id="js-promotion-banner"
                    src="https://assets-in.bmscdn.com/promotions/cms/creatives/1654067732011_fnb_web.jpg" alt="">
            </div>

            <div class="carousel-item ">
                <img id="js-promotion-banner"
                    src="https://assets-in.bmscdn.com/promotions/cms/creatives/1654258838652_justingweb.jpg" alt="">
            </div>
        </div>
    </div>
</section>